@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &-left
      flex-basis: 50%
  .guidebook
    &-wrapper
      flex-direction: column
      align-items: center
  .recommended
    &-title
      text-align: center
    &-more
      margin-bottom: 40px
    &-books
      margin-right: 0
  .best
    &-title
      text-align: center
    &-books
      display: grid
      grid-template-columns: 340px 340px
      grid-gap: 10px
      grid-template-rows: 240px 240px 1fr
      justify-content: center
      align-items: center
      max-width: 700px
      height: 600px
      &__more
        grid-row: 3 / 3
        grid-column: 1 / -1
        margin-top: 15px
      &__hr
        grid-row: 3 / 3
        grid-column: 1 / -1
        align-self: start
  .bookshelf
    margin-bottom: 50px
    &-slider
      height: 378px
      &__header
        font-size: 18px
      &__subtitle
        font-size: 14px
    &-slide
      align-items: baseline
  .slider
    &-button
      &--prev
        top: 320px
        left: 410px
      &--next
        top: 320px
        right: 410px

@media (min-width: 992px)
  .navbar
    &-top
      &__button
        &:hover
          background: $button-color
          color: $white
          box-shadow: inset 0 0 0 3px $button-color
          filter: brightness(85%)
  .nav
    &-link
      &:hover
        color: $button-color
        filter: brightness(85%)
  .button
    &-outline
      &:hover
        background: $yellow
        color: $white
        box-shadow: inset 0 0 0 3px $yellow
        filter: brightness(85%)
    &-primary
      &:hover
        background: $yellow
        color: $white
        box-shadow: inset 0 0 0 3px $yellow
        border: 2px solid $yellow
        filter: brightness(85%)
  .recommended
    &-more
      &__link
        &:hover
          color: $yellow
          filter: brightness(85%)
    &-card
      &__button
        &:hover
          background: $white
          color: $button-color
          box-shadow: inset 0 0 0 3px $white
          border: none
          filter: brightness(85%)
  .best
    &-books
      &__link
        &:hover
          color: $yellow
          filter: brightness(85%)
    &-card
      &__button
        &:hover
          background: $white
          color: $button-color
          box-shadow: inset 0 0 0 3px $white
          border: none
          filter: brightness(85%)

@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-left
      justify-content: space-between
      flex-basis: 70%
    &-top
      &__button
        font-size: 14px
        padding: 9px 30px
  .nav
    &-link
      font-size: 14px
  .main
    &-block
      flex-direction: column
      align-items: center
  .title
    font-size: 43px
  .bookshelf
    height: 510px
    &-slide
      height: 506px
      flex-direction: column
      flex-wrap: wrap
      align-items: center
      justify-content: space-around
      padding-left: 50px
      padding-right: 24px
    &-slider
      height: 510px
      &__card
        &:nth-child(1)
          margin-right: 20px
        &:nth-child(2)
          margin-right: 20px
        &:nth-child(3)
          margin-left: 20px
        &:nth-child(4)
          margin-right: 27px
          margin-left: 20px
  .slider
    &-button
      &--prev
        top: 250px
        left: 10px
      &--next
        top: 250px
        right: 10px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%
  .navbar
    &-mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      left: 0
      bottom: 0
      right: 0
      top: 78px
      font-family: $roboto-condensed
      overflow: auto
      &--visible
        display: block
        background-color: #183B56
        &--button
          display: block
      &__button
        max-width: 163px
        margin-top: 30px
        padding: 11px 31px 11px 31px
        border: 2px solid #FAAD13
        color: $white
        border-radius: 4px
        background: #FAAD13
        font-weight: bold
        font-size: 16px
        line-height: 22px
        text-transform: uppercase
      &__container
        display: flex
        flex-direction: column
        align-items: center
        padding-bottom: 50px
    &-left
      display: none
      &__menu
        &-button
          display: flex
    &-top
      &--hidden
        opacity: 0
    &-menu
      padding-left: 0
      &__item
        margin-top: 30px
        list-style-type: none
        text-align: center
      &__link
        text-decoration: none
        color: $white
        font-weight: bold
        font-size: 25px
        line-height: 35px
  .menu
    &-button
      display: flex
      width: 24px
      height: 18px
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      border: none
      background-color: $white
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
  .main
    margin-top: 54px
    &-text
      padding: 46px 15px 30px 15px
      text-align: center
    &-author
      ont-size: 18px
    &-buttons
      display: flex
      flex-direction: column
      max-width: 240px
      margin: auto
  .button
    &-outline
      margin-right: 0
      margin-bottom: 14px
  .title
    font-size: 38px
  .recommended
    &-books
      flex-direction: column
      max-width: 576px
      height: 100%
      align-items: center
    &-title
      margin-bottom: 60px
    &-card
      margin-right: 0
      margin-bottom: 50px
      flex-direction: column
      width: 500px
      height: 500px
      align-items: center
      &:nth-child(odd)
        margin-right: 0
      &:nth-child(6)
        margin-bottom: 10px
      &__picture
        height: 300px
      &__image
        height: 250px
      &__text
        text-align: center
        justify-content: center
        align-items: center
        max-width: 450px
        padding: 10px 26px 20px 26px
      &__heading
        height: 30px
    &-more
      display: flex
      justify-content: center
      &__link
        padding: 25px 90px
  .best
    &-title
      margin-bottom: 0
    &-books
      display: flex
      position: relative
      flex-direction: column
      margin-top: 30px
      max-width: 360px
      height: 1000px
      background: rgba(#B3BAC5,0.1)
      mix-blend-mode: normal
      border-radius: 8px
      &__more
        margin-top: 0
      &__hr
        width: 312px
        margin-top: 14px
  .bookshelf
    height: 600px
    margin-bottom: 20px
    &-slider
      height: 600px
      &__card
        width: 200px
        &:nth-child(odd)
          margin-bottom: 20px
      &__image
        width: 50px
        height: 50px
      &__header
        font-size: 16px
        line-height: 25px
      &__subtitle
        font-size: 12px
        line-height: 20px
    &-slide
      height: 600px
      justify-content: end
      padding-left: 69px
      padding-right: 50px
  .slider
    &-button
      &--prev
        top: 550px
        left: 150px
      &--next
        top: 550px
        right: 150px

@media (max-width: 637px)
  .slider
    &-button
      &--next
        right: 140px

@media (max-width: 576px)
  .container
    width: 85%
  .main
    &-image
      width: 100%
  .bookshelf
    &-slide
      padding: 0
    &-slider
      &__card
        &:nth-child(1)
          margin-top: 0
          margin-left: 0
          margin-right: 0
          margin-bottom: 10px
        &:nth-child(2)
          margin: 0
        &:nth-child(3)
          margin-top: 0
          margin-left: 0
          margin-right: 0
          margin-bottom: 10px
        &:nth-child(4)
          margin: 0

@media (max-width: 480px)
  .title
    font-size: 32px
    line-height: 40px
    &-rest
      margin-bottom: 23px
  .main
    margin-top: 52px
    &-block
      margin-bottom: 21px
    &-text
      padding-bottom: 32px
    &-author
      font-size: 16px
      line-height: 24px
    &-description
      margin-bottom: 19px
      font-size: 16px
      line-height: 23px
    &-buttons
      max-width: 200px
    &-image
      height: 380px
    &-book
      width: 143.44px
      height: 214.59px
  .button
    &-outline
      margin-bottom: 13px
      padding: 9px 20px
      font-size: 16px
      line-height: 22px
    &-primary
      padding: 9px 29px
      font-size: 16px
      line-height: 22px
  .recommended
    max-width: 376px
    &-title
      margin-bottom: 70px
      font-size: 28px
      line-height: 36px
      text-align: center
    &-books
      max-width: 376px
      margin-bottom: 25px
    &-card
      width: 280px
      height: 312px
      &:nth-child(1)
        margin-bottom: 0
      &--hide
        display: none
      &__picture
        height: 120px
        overflow: unset
      &__image
        width: 100px
        height: 137.09px
        margin-top: -34px
        margin-left: -6px
      &__text
        padding: 10px 15px 10px 7px
      &__heading
        margin-top: 1px
        margin-bottom: 6px
        font-size: 20px
        line-height: 24px
      &__category
        margin-bottom: 16px
        font-size: 14px
        line-height: 20px
      &__price
        margin-bottom: 19px
        margin-left: -10px
        font-size: 16px
        line-height: 20px
      &__button
        margin-right: 20px
        padding: 6px 25px
        font-size: 16px
        line-height: 22px
    &-more
      margin-bottom: 19px
      &__link
        padding: 14px 61px
        font-size: 16px
        line-height: 20px
        text-transform: none
  .best
    max-width: 376px
    &-title
      font-size: 28px
      line-height: 36px
    &-books
      margin-top: 35px
      width: 280px
      height: 803px
      &__more
        padding-top: 10px
    &-card
      width: 100%
      margin-left: 15px
      &--one
        margin-top: 6px
      &--two,
      &--three,
      &--four
        margin-top: 15px
      &__picture
        width: 97px
        height: 145px
      &__image
        width: 95.46px
        height: 145px
      &__text
        width: 150px
        padding-left: 15px
        height: 145px
        padding-top: 5px
      &__heading
        margin-bottom: 12px
        font-family: $roboto-condensed
        font-weight: bold
        font-size: 16px
        line-height: 24px
        letter-spacing: 0.2px
      &__price
        margin-bottom: 12px
        font-size: 20px
        line-height: 24px
      &__button
        padding: 7px 20px
        font-size: 16px
        line-height: 22px
  .guidebook
    &-wrapper
      margin-bottom: 50px
  .bookshelf
    height: 514px
    margin-bottom: -30px
    &-container
      width: 92%
    &-slider
      width: 290px
      height: 480px
      &__card
        width: 140px
        height: 182px
        margin-bottom: 10px
        &:nth-child(1)
          margin-right: 6px
          margin-left: 0
          margin-bottom: 10px
        &:nth-child(2)
          margin-left: 0
          margin-right: 0
          margin-bottom: 10px
        &:nth-child(3)
          margin-right: 6px
          margin-left: 0
          margin-bottom: 0
        &:nth-child(4)
          margin: 0

      &__image
        width: 36px
        height: 36px
        margin-bottom: 16px
        margin-top: 20px
        &--two
          margin-left: 7px
        &--four
          margin-left: 7px
      &__header
        font-family: $roboto-condensed
        font-size: 16px
        line-height: 20px
        margin-bottom: 10px
        &--one
          width: 65px
        &--two
          margin-left: 7px
          margin-bottom: 30px
        &--four
          width: 67px
          margin-left: 7px
      &__subtitle
        font-size: 12px
        line-height: 20px
        width: 92px
        &--two
          margin-left: 7px
        &--three
          width: 99px
        &--four
          margin-left: 7px
    &-slide
      width: 290px
      height: 374px
      flex-wrap: wrap
      flex-direction: row
  .slider
    &-button
      width: 48px
      height: 48px
      &--prev
        top: 430px
        left: 93px
      &--next
        top: 430px
        right: 92px

@media (max-width: 380px)
  .container
    width: 87%
  .navbar
    &-top
      padding-top: 18px
  .main
    &-buttons
      max-width: 182px
    &-image
      height: 332px
  .bookshelf
    &-container
      width: 92%
