@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &-left
      flex-basis: 50%
  .guidebook
    &-wrapper
      flex-direction: column
      align-items: center
  .recommended
    &-title
      text-align: center
    &-more
      margin-bottom: 40px
    &-books
      margin-right: 0
  .best
    &-title
      text-align: center
    &-books
      display: grid
      grid-template-columns: 340px 340px
      grid-gap: 10px
      grid-template-rows: 240px 240px 1fr
      justify-content: center
      align-items: center
      max-width: 700px
      height: 600px
      &__more
        grid-row: 3 / 3
        grid-column: 1 / -1
        margin-top: 15px
      &__hr
        grid-row: 3 / 3
        grid-column: 1 / -1
        align-self: start
  .slider
    &-button
      &--prev
        left: -30px
      &--next
        right: 20px
  .unpublished
    &-card
      &--hidden
        display: none
  .publishers
    &-block
      max-width: 960px
    &-wrapper
      width: 100%
    &-list
      width: 100%
  .invalid
    font-size: 13px
  .subscribe
    height: 112px
    &__button
      top: 55px
      right: 5%
      padding: 13px 70px
      max-width: 100%
    &__input
      padding-bottom: 59px

@media (min-width: 992px)
  .navbar
    &-top
      &__button
        &:hover
          background: $button-color
          color: $white
          box-shadow: inset 0 0 0 3px $button-color
          filter: brightness(85%)
  .nav
    &-link
      &:hover
        color: $button-color
        filter: brightness(85%)
  .button
    &-outline
      &:hover
        background: $yellow
        color: $white
        box-shadow: inset 0 0 0 3px $yellow
        filter: brightness(85%)
    &-primary
      &:hover
        background: $yellow
        color: $white
        box-shadow: inset 0 0 0 3px $yellow
        border: 2px solid $yellow
        filter: brightness(85%)
  .recommended
    &-more
      &__link
        &:hover
          color: $yellow
          filter: brightness(85%)
    &-card
      &__button
        &:hover
          background: $white
          color: $button-color
          box-shadow: inset 0 0 0 3px $white
          border: none
          filter: brightness(85%)
  .best
    &-books
      &__link
        &:hover
          color: $yellow
          filter: brightness(85%)
    &-card
      &__button
        &:hover
          background: $white
          color: $button-color
          box-shadow: inset 0 0 0 3px $white
          border: none
          filter: brightness(85%)
  .modal
    &__button
      &:hover
        color: $yellow
        filter: brightness(85%)
  .subscribe
    &__button
      &:hover
        color: $white
        filter: brightness(85%)
  .blog
    &-card
      &__button
        &:hover
          color: $yellow
    &-mainbutton
      &__button
        &:hover
          background: $button-color
          color: $white
          box-shadow: inset 0 0 0 3px $button-color
          filter: brightness(85%)
  .footer
    &__link
      &:hover
        color: $yellow
        filter: brightness(85%)

@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-left
      justify-content: space-between
      flex-basis: 70%
    &-top
      &__button
        font-size: 14px
        padding: 9px 30px
  .nav
    &-link
      font-size: 14px
  .main
    &-block
      flex-direction: column
      align-items: center
  .title
    font-size: 43px
  .slider
    &-button
      &--prev
        top: 260px
      &--next
        top: 260px
        right: 180px
  .unpublished
    &-card
      &--hidden2
        display: none
  .authors
    &-wrapper
      width: 700px
    &-title
      font-size: 36px
      line-height: 48px
    &-description
      font-size: 14px
  .main
    &-videocard
      width: 700px
      margin-bottom: 0px
      height: 300px
      &__button
        width: 70px
        height: 70px
        top: 100px
        right: 320px
      &__icon
        width: 70px
        height: 70px
  .sample
    &-videocard
      &--hidden
        display: none
  .description
    &-block
      width: 300px
      margin-right: 0
  .publishers
    &-wrapper
      justify-content: center
      align-items: center
      height: 150px
    &-title
      margin-top: 0px
    &-list
      width: 80%
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      align-items: center
      height: 100%
      &--hidden
        display: none
    &-logo
      margin-right: 20px
  .modal
    &__dialog
      width: 500px
      padding: 30px 60px
    &__button
      margin-bottom: 15px
  .subscribe
    &__button
      padding: 13px 55px
  .mailing
    &-title
      margin-right: 0
    &-cover
      height: 300px
    &-wrapper
      flex-direction: column
    &-title
      margin-top: 0
  .subscribe
    width: 400px
    &__button
      right: 5%
      padding: 13px 126px
  .blog
    &-conteiners
      flex-direction: column
    &-maincard
      margin-bottom: 30px
  .footer
    &-grid
      flex-direction: column
      margin-bottom: 60px
    &__main
      order: 1
      justify-content: center
      align-items: center
    &__slogan
      text-align: center
    &-copyright
      margin-left: -60px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%
  .navbar
    &-container
      max-width: 100%
      width: 100%
    &-mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      left: 0
      bottom: 0
      right: 0
      top: 78px
      font-family: $roboto-condensed
      overflow: auto
      &--visible
        display: block
        background-color: #183B56
        &--button
          display: block
      &__button
        max-width: 163px
        margin-top: 30px
        padding: 11px 31px 11px 31px
        border: 2px solid #FAAD13
        color: $white
        border-radius: 4px
        background: #FAAD13
        font-weight: bold
        font-size: 16px
        line-height: 22px
        text-transform: uppercase
      &__container
        display: flex
        flex-direction: column
        align-items: center
        padding-bottom: 50px
    &-left
      display: none
      &__menu
        &-button
          display: flex
    &-top
      padding: 37px
      &--hidden
        opacity: 0
    &-menu
      padding-left: 0
      &__item
        margin-top: 30px
        list-style-type: none
        text-align: center
      &__link
        text-decoration: none
        color: $white
        font-weight: bold
        font-size: 25px
        line-height: 35px
  .menu
    &-button
      display: flex
      width: 24px
      height: 18px
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      border: none
      background-color: $white
      &__line
        width: 22px
        height: 2px
        background-color: #3A4C66
  .main
    margin-top: 54px
    &-text
      padding: 46px 15px 30px 15px
      text-align: center
    &-author
      ont-size: 18px
    &-buttons
      display: flex
      flex-direction: column
      max-width: 240px
      margin: auto
  .button
    &-outline
      margin-right: 0
      margin-bottom: 14px
  .title
    font-size: 38px
  .recommended
    &-books
      flex-direction: column
      max-width: 576px
      height: 100%
      align-items: center
    &-title
      margin-bottom: 60px
    &-card
      margin-right: 0
      margin-bottom: 50px
      flex-direction: column
      width: 500px
      height: 500px
      align-items: center
      &:nth-child(odd)
        margin-right: 0
      &:nth-child(6)
        margin-bottom: 10px
      &__picture
        height: 300px
      &__image
        height: 250px
      &__text
        text-align: center
        justify-content: center
        align-items: center
        max-width: 450px
        padding: 10px 26px 20px 26px
      &__heading
        height: 30px
    &-more
      display: flex
      justify-content: center
      &__link
        padding: 25px 90px
  .best
    &-title
      margin-bottom: 0
    &-books
      display: flex
      position: relative
      flex-direction: column
      margin-top: 30px
      max-width: 360px
      height: 1000px
      background: rgba(#B3BAC5,0.1)
      mix-blend-mode: normal
      border-radius: 8px
      &__more
        margin-top: 0
      &__hr
        width: 312px
        margin-top: 14px
  .slider
    &-button
      &--prev
        top: 260px
      &--next
        top: 260px
  .unpublished
    &-card
      &--hidden3
        display: none
    &-block
      justify-content: space-evenly
  .title
    &-block
      flex-direction: column
      align-items: center
  .authors
    &-wrapper
      width: 576px
      padding-top: 80px
      margin-bottom: 70px
    &-title
      margin-bottom: 20px
  .main
    &-videocard
      width: 576px
      height: 260px
      &__button
        width: 50px
        height: 50px
        top: 85px
        right: 250px
      &__icon
        width: 50px
        height: 50px
  .sample
    &-videocard
      width: 260px
      height: 200px
      &__title
        text-align: center
        margin-bottom: 10px
      &__play
        width: 23px
        height: 27px
        left: 125px
      &__text
        flex-direction: column
        align-items: center
  .description
    &-block
      width: 100%
      height: 90px
      text-align: center
  .publishers
    &-list
      flex-wrap: wrap
      width: 100%
      height: 100%
  .modal
    &__dialog
      overflow: auto
      max-height: 90%
      padding: 30px 30px
    &__input
      font-size: 13px
    &__message
      font-size: 13px
  .mailing
    background: #1565D8
    height: 320px
    &-cover
      background: none
    &-wrapper
      flex-direction: column
  .subscribe
    width: 400px
    &__button
      right: 5%
      padding: 13px 126px
  .blog
    &-mainbutton
      right: 30px
  .footer
    &__information
      flex-wrap: wrap
      justify-content: center
    &__service,
    &__product,
    &__companies
      margin-right: 0
    &__list
      margin-right: 90px
    &-copyright
      &__text
        font-size: 15px
        line-height: 28px

@media (max-width: 637px)
  .unpublished
    &-slider
      height: 500px
      &__button
        &--prev
          top: 430px
          right: 55%
        &--next
          top: 430px
          right: 35%
    &-title
      font-family: $roboto-condensed
      font-size: 28px
      line-height: 36px
      text-align: center
      margin-bottom: 40px

@media (max-width: 576px)
  .container
    width: 85%
  hr
    width: 85%
  .navbar
    &-container
      width: 100%
  .main
    &-image
      width: 100%
  .bookshelf
    &-slider
      width: 489px
      &__card
        width: 230px
      &__image
        width: 50px
        height: 50px
        margin-top: 40px
        margin-bottom: 40px
      &__header
        margin-bottom: 12px
        font-size: 20px
        line-height: 29px
      &__subtitle
        font-size: 14px
        line-height: 20px
    &-wrapper
      width: 489px
    &-slide
      width: 230px
  .slider
    &-button
      &--next
        top: 260px
      &--prev
        top: 260px
  .unpublished
    &-card
      &--hidden3
        display: none
    &-block
      justify-content: space-between
  .authors
    &-wrapper
      width: 85%
    &-title
      font-size: 30px
      line-height: 40px
  .main
    &-videocard
      width: 100%
      height: 240px
      margin-bottom: 20px
      &__button
        right: 180px
      &__image
        width: 100%
        height: 240px
  .sample
    &-videocard
      width: 180px
      height: 180px
      &__header
        font-size: 20px
        line-height: 28px
      &__subheader
        font-size: 16px
      &__play
        left: 100px
  .publishers
    &-block
      padding-top: 0
    &-title
      margin-top: 30px
      margin-bottom: 40px
    &-wrapper
      height: 170px
    &-list
      width: 100%
      align-items: center
    &-logo
      height: 28px
  .modal
    &__dialog
      width: 400px
      padding: 20px 40px
    &__input
      font-size: 11px
    &__message
      font-size: 11px
  .mailing
    &-title
      font-size: 30px
      margin-top: 0
      margin-bottom: 40px
  .subscribe
    width: 300px
    &__button
      padding: 10px 80px
      top: 60px
  .blog
    &-card
      &__heading
        font-size: 18px
    &-maincard
      &__text
        text-align: justify

@media (max-width: 510px)
  .unpublished
    &-card
      &--hidden4
        display: none
    &-block
      justify-content: center

@media (max-width: 480px)
  .title
    font-size: 32px
    line-height: 40px
    &-rest
      margin-bottom: 23px
  .main
    margin-top: 52px
    &-block
      margin-bottom: 21px
    &-text
      padding-bottom: 32px
    &-author
      font-size: 16px
      line-height: 24px
    &-description
      margin-bottom: 19px
      font-size: 16px
      line-height: 23px
    &-buttons
      max-width: 200px
    &-image
      height: 380px
    &-book
      width: 143.44px
      height: 214.59px
  .button
    &-outline
      margin-bottom: 13px
      padding: 9px 20px
      font-size: 16px
      line-height: 22px
    &-primary
      padding: 9px 29px
      font-size: 16px
      line-height: 22px
  .recommended
    max-width: 376px
    &-title
      margin-bottom: 70px
      font-size: 28px
      line-height: 36px
      text-align: center
    &-books
      max-width: 376px
      margin-bottom: 25px
    &-card
      width: 280px
      height: 312px
      &:nth-child(1)
        margin-bottom: 0
      &--hide
        display: none
      &__picture
        height: 120px
        overflow: unset
      &__image
        width: 100px
        height: 137.09px
        margin-top: -34px
        margin-left: -6px
      &__text
        padding: 10px 15px 10px 7px
      &__heading
        margin-top: 1px
        margin-bottom: 6px
        font-size: 20px
        line-height: 24px
      &__category
        margin-bottom: 16px
        font-size: 14px
        line-height: 20px
      &__price
        margin-bottom: 19px
        margin-left: -10px
        font-size: 16px
        line-height: 20px
      &__button
        margin-right: 20px
        padding: 6px 25px
        font-size: 16px
        line-height: 22px
    &-more
      margin-bottom: 19px
      &__link
        padding: 14px 61px
        font-size: 16px
        line-height: 20px
        text-transform: none
  .best
    max-width: 376px
    &-title
      font-size: 28px
      line-height: 36px
    &-books
      margin-top: 35px
      width: 280px
      height: 803px
      &__more
        padding-top: 10px
      &__hr
        width: 312px
    &-card
      width: 100%
      margin-left: 15px
      &--one
        margin-top: 6px
      &--two,
      &--three,
      &--four
        margin-top: 15px
      &__picture
        width: 97px
        height: 145px
      &__image
        width: 95.46px
        height: 145px
      &__text
        width: 150px
        padding-left: 15px
        height: 145px
        padding-top: 5px
      &__heading
        margin-bottom: 12px
        font-family: $roboto-condensed
        font-weight: bold
        font-size: 16px
        line-height: 24px
        letter-spacing: 0.2px
      &__price
        margin-bottom: 12px
        font-size: 20px
        line-height: 24px
      &__button
        padding: 7px 20px
        font-size: 16px
        line-height: 22px
  .guidebook
    &-wrapper
      margin-bottom: 50px
  .bookshelf
    &-container
      width: 100%
    &-slider
      height: 400px
      width: 302px
      &__card
        width: 140px
        height: 182px
      &__image
        width: 36px
        height: 36px
        margin-bottom: 16px
        margin-top: 23px
      &__header
        font-family: $roboto-condensed
        font-size: 16px
        line-height: 20px
        margin-bottom: 10px
        width: 112px
      &__subtitle
        font-size: 12px
        line-height: 20px
        max-width: 99px
    &-wrapper
      height: 100%
      width: 100%
      margin-left: 5px
    &-slide
      width: 140px
      height: 182px
      margin-bottom: 5px
  .swiper
    &-slide
      width: 140px
      height: 182px
  .slider
    &-button
      width: 48px
      height: 48px
      &--next
        top: 395px
        right: 137px
      &--prev
        top: 395px
        left: 128px
  .unpublished
    padding-bottom: 30px
    &-title
      margin-top: 17px
    &-slider
      &__button
        &--prev
          right: 52%
          top: 431px
        &--next
          top: 431px
          right: 28%
  .authors
    &-wrapper
      padding-top: 45px
      padding-bottom: 92px
      width: 300px
      margin: auto
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 23px
    &-description
      font-size: 18px
      line-height: 25px
  .description
    &-block
      width: 280px
      margin-bottom: 11px
  .main
    &-videocard
      margin-bottom: 20px
      width: 300px
      height: 210px
      &__image
        height: 210px
      &__button
        width: 56px
        height: 56px
        top: 78px
        right: 122px
  .sample
    &-videocard
      width: 140px
      &__image
        width: 140px
        height: 138px
      &__play
        width: 21px
        height: 27px
        top: 60px
        left: 60px
      &__text
        margin-top: 11px
      &__title
        margin-bottom: 6px
      &__header
        margin-bottom: 7px
        font-size: 16px
        line-height: 20px
      &__subheader
        font-size: 12px
        line-height: 20px
      &__flag
        width: 10px
        height: 14px
  .title
    &-block
      margin-bottom: 60px
  .publishers
    &-title
      margin-top: 6px
      margin-left: -2px
      margin-bottom: 10px
      line-height: 30px
      font-weight: bold
      font-size: 24px
      line-height: 30px
      text-align: center
      letter-spacing: 0.2px
    &-wrapper
      height: 190px
    &-blog
      padding-top: 30px
    &-list
      width: 100%
    &-logo
      height: 28px
  .modal
    &__dialog
      width: 350px
  .mailing
    height: 307px
    margin-bottom: 48px
    &-wrapper
      height: 310px
      margin-left: 3px
      justify-content: center
    &-cover
      padding-left: 0
      padding-top: 100px
    &-title
      font-family: $roboto-condensed
      font-weight: bold
      font-size: 28px
      line-height: 36px
      letter-spacing: 0.2px
      color: $white
      margin-top: 20px
      margin-bottom: 30px
  .subscribe
    width: 272px
    &__input
      font-size: 16px
      line-height: 22px
    &__button
      padding: 10px 70px
  .blog
    &-header
      font-family: $roboto-condensed
      font-size: 28px
      line-height: 36px
      text-align: center
    &-maincard
      width: 100%
      &__heading
        font-size: 16px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 24px
      &__top
        height: 230px
    &-cards
      width: 100%
    &-card
      height: 120px
      &__date
        font-size: 10px
        line-height: 20px
      &__heading
        font-size: 14px
        line-height: 20px
      &__button
        font-size: 10px
        line-height: 20px
      &__text
        padding-left: 15px
    &-mainbutton
      top: 900px
      right: 20%
  .footer
    &-grid
      margin-left: 3px
    &__logo
      width: 90px
      height: 28px
      margin-bottom: 14px
    &__slogan
      margin-left: -13px
      margin-bottom: 13px
      font-size: 15px
      line-height: 28px
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__main
      margin-right: 0
    &__item
      font-size: 14px
      line-height: 20px
      margin-bottom: 15px
    &__list
      margin-right: 0
      margin-bottom: 24px
    &__information
      justify-content: end
      margin-bottom: 7px
    &__companies
      margin-right: 53px
    &__product
      margin-right: 41px
    &-copyright
      display: none

@media (max-width: 380px)
  .container
    width: 87%
  .navbar
    &-container
      width: 100%
    &-top
      padding-top: 18px
  .main
    &-buttons
      max-width: 182px
    &-image
      height: 332px
  .bookshelf
    &-container
      width: 100%
    &-slider
      height: 400px
      width: 302px
      &__card
        width: 140px
        height: 182px
      &__image
        width: 36px
        height: 36px
        margin-bottom: 16px
        margin-top: 23px
      &__header
        font-family: $roboto-condensed
        font-size: 16px
        line-height: 20px
        margin-bottom: 10px
        width: 112px
      &__subtitle
        font-size: 12px
        line-height: 20px
        max-width: 99px
    &-wrapper
      height: 100%
      width: 100%
      margin-left: 5px
    &-slide
      width: 140px
      height: 182px
      margin-bottom: 5px
  .swiper
    &-slide
      width: 140px
      height: 182px
  .slider
    &-button
      width: 48px
      height: 48px
      &--next
        top: 414px
        right: 107px
      &--prev
        top: 414px
        left: 108px
  hr
    width: 87%
  .authors
    &-container
      width: 94%
    &-wrapper
      width: 100%
  .publishers
    height: 343px
    &-list
      height: 160px
      padding-left: 16px
      margin-top: -5px
    &-logo
      width: 100px
  .modal
    &__dialog
      width: 280px
  .mailing
    &-cover
      padding-top: 74px
      padding-left: 0
  .subscribу
    &__input
      padding-top: 5px
  .blog
    margin-bottom: 98px
    &-containers
      margin-left: -1px
    &-header
      margin-top: 54px
      margin-left: 3px
      margin-bottom: 48px
    &-maincard
      margin-right: 0
      margin-bottom: 19px
      &__top
        height: 120px
        margin-bottom: 20px
      &__bottom
        padding: 0
      &__text
        line-height: 23.5px
    &-card
      margin-bottom: 1px
      &__picture
        width: 90px
        height: 90px
      &__image
        height: 100%
      &__text
        width: 171px
        padding-top: 0
        padding-left: 20px
      &__heading
        width: 166px
        margin-bottom: 6px
      &__date
        margin-bottom: 3px
    &-mainbutton
      top: 686px
      &__button
        padding: 12px 50px
        font-size: 14px
