*
  box-sizing: border-box

img
  max-width: 100%

.container
  max-width: 1140px
  margin: auto

.logo
  width: 90px
  height: 28px

button
  cursor: pointer

.link
  cursor: pointer

hr
  max-width: 1140px
  height: 1px
  border: 1px solid #ECEEF2

.active .icon
  color: #ff4c68
