$titles: #183B56
$background: #E5E5E5
$button-color: #1565D8
$white: #fff
$yellow: #FAAD13
$border-color: #ECEEF2
$dark-grey: #B3BAC5
$roboto-condensed: 'Roboto Condensed', sans-serif
$roboto: 'Roboto', sans-serif
$open-sans: 'Open Sans', sans-serif
$publisher-color: #5A7184
