.recommended
  &-title
    font-family: $roboto-condensed
    font-weight: bold
    font-size: 32px
    line-height: 40px
    letter-spacing: 0.2px
    color: $titles
  &-card
    display: flex
    max-width: 358px
    height: 260px
    border: 1px solid green
    border-radius: 8px
    font-family: $roboto-condensed
    &__picture
      max-width: 160px
      padding: 4px 0 1px 11px
      overflow: hidden
    &__image
      max-width: 100%
      max-height: 255px
      object-fit: cover
      background-size: cover
    &__heading
      width: 129px
      padding: 24px 38px 16px 20px
      font-weight: 500
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: $titles

.best
  &-title
    font-family: $roboto-condensed
    font-weight: bold
    font-size: 32px
    line-height: 40px
    letter-spacing: 0.2px
    color: $titles
