.unpublished
  padding-top: 31px
  padding-bottom: 81px
  background-color: $titles
  &-title
    margin-bottom: 60px
    font-family: $roboto-condensed
    font-weight: bold
    font-size: 36px
    line-height: 48px
    color: $white
    letter-spacing: 0.2px
  &-block
    display: flex
    justify-content: space-between
    max-width: 1178px
    height: 298px
  &-image
    width: 204px
    height: 298px
    border-radius: 8px
    background-size: cover
    background-position: center
    object-fit: cover
