.wrong
  &-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &-title
    font-family: $roboto-condensed
    font-weight: bold
    font-size: 54px
    line-height: 64px
    letter-spacing: 0.2px
    color: $titles
    text-align: center
  &-text
    font-family: $roboto-condensed
    font-weight: bold
    font-size: 60px
    line-height: 70px
    letter-spacing: 0.2px
    color: $yellow
    text-align: center
  &-button
    padding: 7px 20px 7px 18px
    font-family: $open-sans
    font-weight: bold
    font-size: 16px
    line-height: 22px
    background: $titles
    border-radius: 2000px
    border: none
  &-link
    text-decoration: none
    color: $white
